<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <!-- https://drive.google.com/drive/folders/1AcqF78qo6XtCSM59kMPI67-4I1w5QgG4?usp=sharing -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>Lost And Found</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/inputfound.css" />
    <link rel="stylesheet" href="/reset.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4mCOdPJMuezDURluL8iHW9z0e4RoPy1M&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <link rel="stylesheet" type="text/css" href="/map.css" />
    <script src="/mapscript.js"></script>
  </head>

  <body>
    <div id="outer-div">
      <a id="lost-and-found-img" href="/prompt">
        <img
          src="https://cdn.glitch.com/8e2f0d27-5264-420e-b020-953ea17dcbb6%2FLogoLostAndFound.png?v=1590041679615"
          alt="UCD Lost and Found Logo"
        />
      </a>
      <h1 class="header">
        Search for Existing Requests
      </h1>
      <div class="searchbar">
        <input type="text" id="search-text" />
        <a href="/searchfound?">
          <img
            id="search-btn"
            src="https://cdn.glitch.com/8e2f0d27-5264-420e-b020-953ea17dcbb6%2Fsearch-solid.svg?v=1590041937119"
          />
        </a>
      </div>
      <div id="form">
        <p class="label">
          Date & Time
        </p>
        <div class="date-time">
          <input type="date" id="date-start-input" />
          <input type="time" id="time-start-input" />
          <p class="label">
            To
          </p>
          <div class="date-time">
            <input type="date" id="date-end-input" />
            <input type="time" id="time-end-input" />
          </div>
        </div>
        <p class="label">
          Category
        </p>
        <input type="text" id="category-input" />
        <p class="label">
          Location
        </p>
        <input type="text" id="location-input" />
        <p id="error">
          Please fill out at least one form
        </p>
        <div id="map"></div>

        <div class="button" id="submit-button">
          Search
        </div>
      </div>
    </div>

    <!-- import the webpage's client-side javascript file -->
    <script src="script2.js" defer></script>
  </body>
</html>
