@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  /*   background-color: #b3c1d1; */
  background-color: #b3c1d1;
}

a {
  text-decoration: none;
}
/* matthew added image */
#imgUpload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#cardImg {
  width: 150px;
  max-width: 100%;
  max-height: 100%;
  display: none;
}

#outer-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
}

#lost-and-found-img {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 40px;
  width: 40%;
  align-self: flex-end;
}

.header {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #142a50;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  color: #365c85;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 10px;
}
.own-label {
  color: #365c85;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 10px;
}

.date-time{
  display:flex;
  flex-direction:row;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: none;
  width: auto;
  background-color: #e5e5e5;
  margin: 0px 10px;
}
textarea {
  background-color: #e5e5e5;
  margin: 0px 10px;
}

.button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: bold;
  color: white;
  padding: 10px 5px;
  border-radius: 8px;
  font-size: 24px;
  margin: 20px 10px;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}

#next-button {
  background-color: #142a50;
  align-self: flex-end;
}

#next-text {
  color: white;
}

#error{
  display: none;
  color:red;
  align-self: flex-end;
  margin-right: 10px;
}

.img-btn {
  background-color: #e5e5e5;
  margin-left: 10px;
}

.searchbar {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  margin-bottom: 12px;
}
#search-text {
  margin-left: 10px;
  padding-right: 10px;
  width: 90%;
}
#error-message{
  display:none;
  margin-right:10px;
  color:red;
  align-self: flex-end;
}
#search-btn {
  width: 20px;
  padding: 10px;
}
#submit-button {
  background-color: #daab27;
  align-self: flex-end;
}

@media only screen and (min-width: 600px) {
  #outer-div {
    align-items: center;
    justify-content: flex-start;
  }
  #form {
    width: 50%;
  }
  .label {
    margin-left: 10px;
  }
  input {
    margin-left: 10px;
  }

  textarea {
    margin-left: 10px;
  }

  .img-btn {
    margin-left: 10px;
  }
  .searchbar {
    width: 40%;
  }
}
