@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
  background-color: #365c85;
}
a{
  text-decoration: none;
}

#outer-div{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

#building-img{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}


#logo-above-login{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#lost-and-found-img{
  margin-top:20px;
  width:70%;
}

.login-button{
  cursor: pointer;
  display:flex;
  flex-direction:row;
  color: #142a50;
  align-items:center;
  margin-top: 60px;
  background-color:white;
  border-radius:10px;
  width:300px;
  font-family: 'Montserrat', sans-serif;
}

#google-img{
  width:80px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left:8px;
}

.login-button-text{
  margin: 10px;
  padding-right:8px;
}

@media only screen and (min-width: 600px) {

  #outer-div{
    display:flex;
    flex-direction:row;
    height:100vh;
  }
  #building-img{
    height:100%;
    width:50%;
  }

  #lost-and-found-img{
    margin-top:20px;
    width:45%;
  }

  #logo-above-login{
    height:100vh;
    width:50%;
  }

}
